---
import Section from "../Section.astro";

// Importar los iconos
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Anylogic from "@/icons/anylogic.astro";
import Aastro from "@/icons/aastro.astro";
import Angular from "@/icons/angular.astro";
import Axure from "@/icons/axure.astro";
import Canva from "@/icons/canva.astro";
import Miro from "@/icons/miro.astro";

import { skills } from "@cv";

// Definir los íconos asociados a cada habilidad
const SKILLS_ICONS: Record<string, any> = {
    "HTML": HTML,
    "CSS": CSS,
    "JavaScript": JavaScript,
    "TypeScript": TypeScript,
    "React": React,
    "Node": Node,
    "MySQL": MySQL,
    "Git": Git,
    "GitHub": GitHub,
    "Tailwind": Tailwind,
    "Anylogic": Anylogic,
    "Astro": Aastro,
    "Angular": Angular,
    "Axure": Axure,
    "Canva": Canva,
    "Miro": Miro,
};

interface Skill {
    category: string;
    name: string;
}

// Categorizar las habilidades
const categorizedSkills = skills.reduce((acc: Record<string, Skill[]>, skill: Skill) => {
    const category = skill.category || "Other";
    if (!acc[category]) {
        acc[category] = [];
    }
    acc[category].push(skill);
    return acc;
}, {});
---

<Section title="Habilidades">
    <!-- Mapear las categorías y mostrar las habilidades agrupadas -->
    {Object.entries(categorizedSkills).map(([category, skills]) => (
        <div class="category">
            <h2>{category}</h2>
            <ul>
                {skills.map(({ name }) => {
                    const Icon = SKILLS_ICONS[name];
                    return (
                        <li>
                            {Icon && <Icon />} <span>{name}</span>
                        </li>
                    );
                })}
            </ul>
        </div>
    ))}
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li {
        border-radius: 6px;
        background-color: #eee;
        color: black;
        font-size: .8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .category {
        margin-bottom: 24px; /* Espacio entre categorías */
    }

    .category h2 {
        font-size: 1.5rem;
        color: #000000;
        margin-bottom: 12px;
    }
</style>
